/* App 컴포넌트 스타일 */
.App--container {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.App-bg-gray-text-blue {
  background-color: darkgray;
  color: lightblue;
}
